<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h2>Add a new student!</h2>
	 <form action="/classmates" method="POST">
		  	<input type="text" name="name" placeholder="name">
		  	<input type="text" name="age" placeholder="age">
		 	<input type="submit">
		 	<!-- Submit button isn't taking the stuff -->
		  </form>

</body>
</html>